
html, body {
  padding: 0;
  margin: 0;
}

:root {
  --page-padding: 12px;
  --content-max-width: calc(100vw - (2 * var(--page-padding)));
  --item-height: 28px;
}

body {
  padding: var(--page-padding);
}

.file-name {
  width: var(--content-max-width);
  height: 50px;
  
}

.text-line {
  width: calc(var(--content-max-width) - 20px);
  background-color: transparent;
  padding: 20 10px 8px 10px!important;
  color: #999;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid #999 1px;
  font-size: x-large;
  font-weight: 300;
  transition: border-bottom 0.8s, color 0.5s;
}

.text-line:focus {
  outline: none;
  border-bottom: solid rgba(0, 0, 0, 0.8) 1px;
  color: rgba(0, 0, 0, 0.8);
}

.file-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.all-tags {
  height: 350px;
  flex: 0 0 calc( (var(--content-max-width) - 2px) / 2 );
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list {
  overflow-y: auto;
  overflow-x: hidden;
}

#full {
  height: 271px;
}

#selected {
  height: 271px;
}

.selected-tags {
  height: 350px;
  flex: 0 0 calc( (var(--content-max-width) - 2px) / 2 );
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.label {
  text-align: center;
  padding: 6px 0;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  color:rgba(0, 0, 0, 1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.newTag {
  height: 45px;
  width: calc( (var(--content-max-width) - 2px) / 2 );
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.new-tag-input {
  flex: 0 0 63%;
  box-sizing: border-box;
  font-size: 16px;
  padding: 14px 0 12px 4px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.new-tag-input:focus {
  outline: none;
}

.addNewTag {
  flex: 0 0 30%;
  height: 40px;
  margin: 0 8px;
  border: none;
  background-color: rgba(38,124,19,1);
  color:rgba(255, 255, 255, 0.7);
  font-size: 16px;
  font-weight: 345;
  border-radius: 8px;
}

.addNewTag:focus {
  outline: none;
}


/* .search {
  position: sticky;
  top: 0;
} */

.search-input {
  width: calc(var(--content-max-width) / 2);
  box-sizing: border-box;
  background-image: url('../../icons/searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

.search-input:focus {
  outline: 1px solid #ddd;
}

.item {
  width: 100%;
  height: var(--item-height)!important;
  line-height: var(--item-height);
  text-align: center;
  font-size: large;
  font-weight: 300;
  cursor: pointer;
  transition: background-color 0.7s, color 0.45s;
}

.item:hover {
  background-color: rgba(0, 0, 0, 0.45);
  color: #fff;
}

.action-area {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 70px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.action {
  flex: 1;
  text-align: center;
}

.cancel {
  width: 150px;
  padding: 8px 18px;
  border-radius: 6px;
  text-align: center;
  font-size: x-large;
  font-weight: 350;
  color: rgba(255, 255, 255, 0.7);
  background: rgb(222,8,27);
  background: -moz-linear-gradient(45deg, rgba(222,8,27,1) 0%, rgba(138,4,4,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(222,8,27,1) 0%, rgba(138,4,4,1) 100%);
  background: linear-gradient(45deg, rgba(222,8,27,1) 0%, rgba(138,4,4,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#de081b",endColorstr="#8a0404",GradientType=1);
}

.save {
  width: 150px;
  padding: 8px 18px;
  border-radius: 6px;
  text-align: center;
  font-size: x-large;
  font-weight: 350;
  color: rgba(255, 255, 255, 0.7);
  background: rgb(38,124,19);
  background: -moz-linear-gradient(45deg, rgba(38,124,19,1) 0%, rgba(19,65,1,1) 100%);
  background: -webkit-linear-gradient(45deg, rgba(38,124,19,1) 0%, rgba(19,65,1,1) 100%);
  background: linear-gradient(45deg, rgba(38,124,19,1) 0%, rgba(19,65,1,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#267c13",endColorstr="#134101",GradientType=1);
}

